h2 {
  text-align: center;
  margin-top: 30px;
}

.results {
  display:none;
  text-align: center;
  margin-top: 45px;
  background-image: url(../img/results.jpg);
  /* padding : 490px 300px; */
  background-size: cover;
  height: 500px;
  
}

p.text {
  color:white;
}