body {
  background-color: #f7c2b2;
}

h2 {
  text-align: center;
  margin-top: 30px;
  color:red;
}

p {
  margin-top:60px;
  font-family: monospace;
  font-size:18px;
}

p.text {
  color:black;
  font-size: 26px;
}

#rogers {
  margin-top: 60px;
}

.results {
  display: none;
  text-align: center;
  margin-top: 45px;
  background-size: cover;
}

.reverse {
  display: none;
  float:right;
}

.pic {
  
  display: block;
  display: none;
}

.backPic {
  
  display: block;
  display: none;
}
#reverseButton {
  margin-top: 10px;
  
}

#originalButton {
  display: none;
  margin-top: 22px;
}


.blank {
  display:none;
}