body {
  background-color: #f7c2b2;
}

h2 {
  text-align: center;
  margin-top: 30px;
  color:red;
}

p {
  margin-top:60px;
  font-family: monospace;
  font-size:18px;
}

p.text {
  color:black;
  font-size: 26px;
}

#rogers {
  margin-top: 60px;
}

.results {
  display: none;
  text-align: center;
  margin-top: 45px;
  background-size: cover;
}

.reverse {
  display: none;
}

.pic {
  display: none;
}

